* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   background-color: #fff;
}

ul {
    display: flex;
    list-style-type: none;

}

li {
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;

}
.nav {
    display: flex;
    background-color: #000;
    padding: 15px;
    justify-content: space-between;
    
}

.logo {
    margin-left: 50px;
}

.nav a:hover {
    background-color: #817878;
    padding: 25px;
}

.banda-menu {
    display: none;
    position: absolute;
}

.banda a {
    display: block;
}

.banda:hover .banda-menu {
    display: block;
    padding: 20px;
    background-color: #181717;
}

form input, form button {
    border-radius: 8px;
    padding: 0.2em;
    border: none;
}

#search {
    display: none;

}

#lupa {
    font-size: 20px;
    color: white;
}

form button {
    cursor: pointer;
    background-color: #000;
   
}

.title {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 70px;
}

h3 {
    margin-top: 10px;
    color: #817878;
    margin-bottom: 30px;
}

.resume {
    width: 935px;
    font-size: 15px;
    text-align:justify;
     margin: auto;
}

main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
 
}

.title-discography {
    text-align: center;
    margin: 50px;
    font-size: 40px;

}

.discography {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
}

.navigation { 
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
}

.bar {
    
    border: 10px solid white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    border: 10px solid #817878 ;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 1200%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 40%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
    
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
    
} 
#slide3:checked ~ .s1 {
    margin-left: -40%;
} 
#slide4:checked ~ .s1 {
    margin-left: -60%;
} 
#slide5:checked ~ .s1 {
    margin-left: -80%;
} 

#slide6:checked ~ .s1 {
    margin-left: -100%;
} 

@font-face {
    font-family: Anton;
    src: url(../font/Anton-Regular.ttf);
}
section p {
    color: #fff;
    margin-bottom: 20px;
    font-family: Anton;
    font-size: 35px;
    margin-left: 20px;
      
}

section {
    background-color: #000;
    padding: 20px 0;
}
.img-insta img {
    border: 2px solid white;
   
    margin: 5px 0;
   
}
footer {
    margin-top: 100px;
}
.contacto {
    text-align: center;
    font-size: 30px;
}
.contacto p {
    font-size: 20px;
    color: #817878;
    margin-top: 5px;
}
.address {
    margin-left: 100px;
    margin-top: 20px;
}
span {
    margin-left: 10px;
}

.content-footer {
    margin-top: 100px;
    justify-content: space-evenly;
    display: flex;
}

.address a {
    text-decoration: none;
    color: #000;
}
.address a:hover {
    color: blue;
    font-size: 20px;
    transition: 0.6s;
}

.form {
    padding: 15px;
}

#name {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#email {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#menssagem {
    padding: 5px;
    margin-bottom: 10px;
}

#button {
    float: right;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover { 
    background-color: #817878;
    transition: 0.4s;
    
}


.powered {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 70px;
   
}

.powered i {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
}


@media (max-width: 600px) {
    
    .logo {
        display: none;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        
    }

    .nav li {
        margin-top: 15px;
    }

    #lupa {
        display: none;
        
    }

   

    .title {
        text-align: center;
        font: 30px;
    }

    .resume {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    .title-discography {
        margin: auto;
        font-size: 30px;
        margin-top: 20px;
    }

    .discography {
        width: 100%;
        margin-top: 80%;
    }

    section {
        text-align: center;
    }

    .img-insta  img {
       width: 100%;
    }

    .content-footer {
        text-align: center;
        flex-direction: column;
    }

    .fa-location-dot {
        margin-left: -33px;
    }

    .fa-envelope {
        margin-left: 2px;
    }

    .form {
       margin-top: 50px;
    }

    #name, #email {
     width: 150px;
    }

    #menssagem {
        width: 325px;
    }

    
}


